/**  
 * Project Name: Appon
 * Author Name: Sourav Hossain
 * Email: souravhossain421@gmail.com
 **/

/* basic code start */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    background: #ffffff;
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    overflow: hidden;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    padding: 40px 0;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* basic code end */