/**  
 * Project Name: Appon
 * Author Name: Sourav Hossain
 * Email: souravhossain421@gmail.com
 **/

/* basic code start */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    background: #ffffff;
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    overflow: hidden;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* basic code end */

/* Preview preloder start */

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dots .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px 0 10px;
    border-radius: 50%;
    background: #4D27D9;
    -webkit-animation: dot-dot-dot 1.4s linear infinite;
    animation: dot-dot-dot 1.4s linear infinite;
}

.dots .dot:nth-child(1) {
    -webkit-animation: dot-dot-dot 1s ease-in-out infinite;
    animation: dot-dot-dot 1s ease-in-out infinite;
}

.dots .dot:nth-child(2) {
    -webkit-animation: dot-dot-dot 1s ease-in-out 0.33s infinite;
    animation: dot-dot-dot 1s ease-in-out 0.33s infinite;
}

.dots .dot:nth-child(3) {
    -webkit-animation: dot-dot-dot 1s ease-in-out 0.66s infinite;
    animation: dot-dot-dot 1s ease-in-out 0.66s infinite;
}

@-webkit-keyframes dot-dot-dot {

    0%,
    75%,
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    25% {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0.7;
    }
}

@keyframes dot-dot-dot {

    0%,
    75%,
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    25% {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0.7;
    }
}

/* Preview preloder end */